
.bg-image {
  @include bg-pos;
  filter: blur($blur-radius);
  position: fixed;
  top: $bg-offset;
  bottom: $bg-offset;
  left: $bg-offset;
  right: $bg-offset;
  z-index: -2;
  transition: opacity 5s;
  opacity: 1;
}

.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
  transition: opacity 2s;
}

.transparent {
  opacity: 0;
}
