
footer {
  position: absolute;
  bottom: -83px;
  left: 0;
  right: 0;
  height: auto;

  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 15px;
  padding-bottom: 10px;
  color: #bbb;

  transition: bottom 0.3s;

  #credits-toggle {
    font-size: 1.5em;
    position: absolute;
    right: 0;
    top: -37px;
    width: 5em;
    background: rgba(0, 0, 0, 0.6);
    padding: 4px;
  }
}

.open {
  bottom: 0;
}
