
.weather-report {
  margin-top: 30px;
  padding: 50px 20px 70px;
  background: rgba(255, 255, 255, .4);
  border-radius: 10px;
  border: 1px solid #fff;
  position: relative;

  &::before {
    border-radius: 10px;
    @include frosty-glass(10px);
    opacity: 0;
    transition: opacity 2s;
  }

  h2, p, i, span {
    text-shadow: rgba(255, 255, 255, 0.6) 0 0 1px;
  }
}
