
.weather-report {
  margin-top: 30px;
  padding: 50px 20px 70px;
  background: rgba(255, 255, 255, .4);
  border-radius: 10px;
  border: 1px solid #fff;
  position: relative;

  &::before {
    border-radius: 10px;
    content: ' ';
    overflow: hidden;
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include bg-pos;
    filter: blur(10px);
    opacity: 0;
    transition: opacity 2s;
  }
}
