<div class="alert alert-warning text-center">
  <p>Location, location, location, are you under cover?</p>
  <p>I guess the sun will shine tonight, expect full moon at noon <strong>:)</strong></p>
</div>
